@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat:wght@400;700&display=swap');
*{
  font-family: 'Barlow', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background: #111111;
}
.div-text-main{
  width: 100vw;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
.thediv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-text{
  color: white;
  text-align: center;
}
.button1{
  display:inline-block;
  padding:0.8em 1.2em;
  border:0.1em solid #0ea5e9;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#0ea5e9;
  text-align:center;
  transition: all 0.2s;
  margin-top: 2em;
}
.button1:hover{
  color: white;
  background-color:#0ea5e9;
}
html {
  height: auto;
  background: #111111; 
}
